@media (max-width:1200px) {


  .hero-section{
      width: 100%;
      height: 100%;
  }

    .featured {
        width: 100%;
        height: 100%;
    }

    #top-brands {
        width: 100%;
        height: 100%;

        .brands-text {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            h5 {
                font-size: 13px;
            }

            a {
                display: none;

            }
        }

    }

    .flash-sale {
        width: 100%;
        height: 100%;



        .flash {
            .flash-text {
                display: none;
            }
        }


        .flash-img {
            width: 100%;


            img {
                width: 100%;
            }
        }
    }


    .popular {
        .popular-box {
            justify-content: center;
        }
    }




}


@media (min-width:556px)and(max-width:992px){
    .new-pro{
        width: 100%;
        height: 100%;


        .next-text{
            
            .menu{
                display: none;
            }
        }

        .new-img{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }

    
}


@media (min-width:1200px) {
    .flash-sale {
        width: 100%;
        height: 100%;
    }

    .hero-section{
        width: 100%;
        height: 100%;
    }
  
}

@media (min-width:556px)and(max-width:768px){

}

@media (max-width:556px) {

    .new-pro{
        width: 100%;
        height: 100%;


        .next-text{
            
            .menu{
                display: none;
            }
        }

        .new-img{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }


    .hero-section{
        width: 100%;
        height: 100%;
        .hero-black{
            width: 100%;
        height: 100%;

        .hero-text{
            display: none;
        }
        }
    }

    .flash-sale {
        width: 100%;
        height: 100%;



        .flash {
            .flash-text {
                display: none;
            }
        }



    }






}

@media (min-width:1200px) and (max-width:1360px) {





    .featured {
        width: 100%;
        height: 100%;
    }

    #top-brands {
        width: 100%;
        height: 100%;


    }




}